{% include "_top.html" %}

<h2>Restaurants</h2>
{% for restaurant in restaurants %}
<p>{{ restaurant.restaurant_info_restaurant_name }}</p>
{% endfor %}

<h2>Dishes</h2>
{% for item in items %}
<div class="d-flex flex-col gap-2 border-1px border-c-gray:+50 rounded-8px p-2 mb-4">
    {% set images = item.item_image.split(',') if item.item_image else [] %}
    {% if images %}
    {% for img_filename in images %}
    <img src="{{ url_for('static', filename='images/' + img_filename) }}" alt="{{ item.item_title }}"
        class="w-25% h-auto rounded-8px mb-2">
    {% endfor %}
    {% else %}
    <p class="text-c-gray">No images available.</p>
    {% endif %}

    <p><strong>Title:</strong> {{ item.item_title }}</p>
    {% if item.item_description %}
    <p><strong>Description:</strong> {{ item.item_description }}</p>
    {% else %}
    <p class="text-c-gray">No description available.</p>
    {% endif %}
    <p><strong>Price:</strong> ${{ item.item_price }}</p>
</div>
{% endfor %}

{% include "_bottom.html" %}