{% include "_top.html" %}

<main class="w-full h-100vh d-flex p-items-center">
    <form id="frm_forgot_password" class="w-50% d-flex flex-col gap-4 mx-auto" method="post"
        action="{{ url_for('forgot_password') }}">
        <h1 class="text-a-center">Forgot Password</h1>

        <p>Please enter your email address to reset your password.</p>

        <div class="d-flex flex-col">
            <label for="email">
                <span>Email Address</span>
            </label>
            <input name="email" type="email" required>
        </div>

        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</main>

{% include "_bottom.html" %}