{% include "_top.html" %}

<main class="w-full px-5">



<h1>{{food_category.food_category_name}}</h1>

<ul class="d-grid gap-x-5 gap-y-15 cols-12 list-style-none mt-20 ">
    {% for restaurant in restaurants %}
    <a href="/{{restaurant.user_pk}}/items?image=dish_{{ loop.index|string }}" class="w-full h-40 col-3">
        <img src="{{ url_for('static', filename='dishes/dish_' + loop.index|string + '.jpg') }}" class="w-full h-full obj-f-cover" alt="image of {{restaurant.user_name}}">
        <p> {{restaurant.user_name}}</p>
    </a>
    
    {% endfor %}
</ul>
</main>


{% include "_bottom.html" %}
